# Cadena de conexión a MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<password>@cientifica.zzlkch6.mongodb.net/matricula_posgrado?retryWrites=true&w=majority&appName=cientifica
MONGODB_DB=matricula_posgrado
PORT=3000
